<title>@(ViewBag.Title)</title>
<meta name="keywords" content="@ViewBag.KeyWords" />
<meta name="description" content="@ViewBag.Description" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script type="text/javascript">
    //全局配置
    @(Html.Raw(ViewBag.PageGlobalConfigJSON))
</script>
<link href="~/Resources/src/js/EasyUI/themes/icon.css?v=@(ViewBag.ResourceVersion)" rel="stylesheet" type="text/css" />
<link href="~/Resources/src/js/EasyUI/themes/default/easyui.css?v=@(ViewBag.ResourceVersion)" rel="stylesheet" type="text/css" />
<link href="~/Resources/src/js/artDialog/skins/blue.css?v=@(ViewBag.ResourceVersion)" rel="stylesheet" type="text/css" />
<link href="~/Resources/src/css/base.css?v=@(ViewBag.ResourceVersion)" rel="stylesheet" type="text/css" />
<script src="~/Resources/dist/plugins.js?v=@(ViewBag.ResourceVersion)" type="text/javascript"></script>
<script src="~/Resources/dist/xclcms.js?v=@(ViewBag.ResourceVersion)" type="text/javascript"></script>
<script type="text/javascript" src="@(XCLCMS.Lib.Common.Comm.WebAPIJsUrl)?v=@(ViewBag.ResourceVersion)"></script>
<script type="text/javascript">
    $(function () {
        window.xclcms.Main.Init();
    });
</script>