@{
    Layout = "~/Views/MasterView/Main.cshtml";
}
@model XCLCMS.View.AdminWeb.Models.UserInfo.UserCenterEditVM

<div style="width:100%;height:100%;">
    <div id="tt" class="easyui-tabs" data-options="tabPosition:'left'" style="width:100%;height:100%">
        <div title="个人资料" style="padding:10px">
            <form id="userBaseInfoForm" action="@Model.UserBaseInfoFormAction" method="post">

                <table class="XCLTableEdit">
                    <tr>
                        <td class="XCLTitle">用户名：</td>
                        <td>
                            @Model.UserBaseInfo.UserName
                        </td>
                        <td class="XCLTitle">所属商户：</td>
                        <td>
                            @Model.UserBaseInfo.MerchantName
                        </td>
                        <td class="XCLTitle">所属应用：</td>
                        <td>@Model.UserBaseInfo.MerchantAppName</td>
                    </tr>
                    <tr>
                        <td class="XCLTitle">真实姓名：</td>
                        <td>
                            <input type="text" id="txtRealName" name="txtRealName" value="@Model.UserBaseInfo.RealName" />
                        </td>
                        <td class="XCLTitle">昵称：</td>
                        <td><input type="text" id="txtNickName" name="txtNickName" value="@Model.UserBaseInfo.NickName" /></td>
                        <td class="XCLTitle"><span class="XCLRedBolder">*</span>性别：</td>
                        <td>
                            <select id="selSexType" name="selSexType">
                                @Html.Raw(XCLNetTools.Control.HtmlControl.Lib.GetOptions(typeof(XCLCMS.Data.CommonHelper.EnumType.UserSexTypeEnum), new XCLNetTools.Entity.SetOptionEntity()
                           {
                               DefaultValue = Model.UserBaseInfo.SexType
                           }))
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="XCLTitle">出生日期：</td>
                        <td>
                            <input type="text" id="txtBirthday" name="txtBirthday" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' }); return false;" value="@string.Format("{0:yyyy-MM-dd}", Model.UserBaseInfo.Birthday)">
                        </td>
                        <td class="XCLTitle">年龄：</td>
                        <td>
                            <input type="text" id="txtAge" name="txtAge" class="easyui-numberbox" value="@Model.UserBaseInfo.Age" style="height:25px;" />
                        </td>
                        <td class="XCLTitle">手机号：</td>
                        <td>
                            <input type="text" id="txtTel" name="txtTel" value="@Model.UserBaseInfo.Tel" />
                        </td>
                    </tr>
                    <tr>
                        <td class="XCLTitle">QQ：</td>
                        <td>
                            <input type="text" id="txtQQ" name="txtQQ" value="@Model.UserBaseInfo.QQ" />
                        </td>
                        <td class="XCLTitle">电子邮件：</td>
                        <td>
                            <input type="text" id="txtEmail" name="txtEmail" value="@Model.UserBaseInfo.Email" />
                        </td>
                        <td class="XCLTitle">其它联系方式：</td>
                        <td>
                            <input type="text" id="txtOtherContact" name="txtOtherContact" value="@Model.UserBaseInfo.OtherContact" />
                        </td>
                    </tr>
                    <tr>
                        <td class="XCLTitle">用户状态：</td>
                        <td>
                            @Model.UserBaseInfo.UserStateName
                        </td>
                        <td class="XCLTitle"></td>
                        <td></td>
                        <td class="XCLTitle"></td>
                        <td></td>
                    </tr>
                </table>

                <div class="XCLHandBar">
                    <a id="btnSaveUserInfo" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存修改</a>
                </div>
            </form>
        </div>

        @if (null!= ViewBag.IsMainUserForMerchant && ViewBag.IsMainUserForMerchant)
        {
            <div title="商户资料" style="padding:10px">
                <form id="merchantInfoForm" action="@Model.MerchantInfoFormAction" method="post">
                    <table class="XCLTableEdit">
                        <tr>
                            <td class="XCLTitle">商户名：</td>
                            <td>
                                @Model.MerchantInfo.MerchantName
                            </td>
                            <td class="XCLTitle">商户类型：</td>
                            <td>
                                @Model.MerchantInfo.MerchantTypeName
                            </td>
                            <td class="XCLTitle">域名：</td>
                            <td>
                                <input type="text" id="txtDomain" name="txtDomain" value="@(Model.MerchantInfo.Domain)" />
                            </td>
                        </tr>
                        <tr>
                            <td class="XCLTitle">联系人：</td>
                            <td>
                                <input type="text" id="txtContactName" name="txtContactName" value="@(Model.MerchantInfo.ContactName)" />
                            </td>
                            <td class="XCLTitle">手机：</td>
                            <td>
                                <input type="text" id="txtTel" name="txtTel" value="@(Model.MerchantInfo.Tel)" />
                            </td>
                            <td class="XCLTitle">固话：</td>
                            <td>
                                <input type="text" id="txtLandline" name="txtLandline" value="@(Model.MerchantInfo.Landline)" />
                            </td>
                        </tr>
                        <tr>
                            <td class="XCLTitle">电子邮件：</td>
                            <td>
                                <input type="text" id="txtEmail" name="txtEmail" value="@(Model.MerchantInfo.Email)" />
                            </td>
                            <td class="XCLTitle">QQ：</td>
                            <td>
                                <input type="text" id="txtQQ" name="txtQQ" value="@(Model.MerchantInfo.QQ)" />
                            </td>
                            <td class="XCLTitle" rowspan="2">证件信息：</td>
                            <td>
                                证件类型：
                                <select id="selPassType" name="selPassType">
                                    @Html.Raw(Model.MerchantInfo.PassTypeOptions)
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="XCLTitle">地址：</td>
                            <td>
                                <input type="text" id="txtAddress" name="txtAddress" value="@(Model.MerchantInfo.Address)" />
                            </td>
                            <td class="XCLTitle"></td>
                            <td></td>
                            <td>
                                证件号：<input type="text" id="txtPassNumber" name="txtPassNumber" value="@(Model.MerchantInfo.PassNumber)" />
                            </td>
                        </tr>
                        <tr>
                            <td class="XCLTitle">其它联系信息：</td>
                            <td>
                                <textarea id="txtOtherContact" name="txtOtherContact">@(Model.MerchantInfo.OtherContact)</textarea>
                            </td>
                            <td class="XCLTitle">商户状态：</td>
                            <td>@(Model.MerchantInfo.MerchantStateName)</td>
                            <td class="XCLTitle"></td>
                            <td></td>
                        </tr>
                    </table>
                    <div class="XCLHandBar">
                        <a id="btnSaveMerchant" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存修改</a>
                    </div>
                </form>
            </div>
        }

        <div title="密码修改" style="padding:10px">

            <form id="passwordForm" action="@Model.PasswordFormAction" method="post">
                <table class="XCLTableEdit">
                    <tr>
                        <td class="XCLTitle">原密码：</td>
                        <td>
                            <input type="password" name="txtOldPwd" />
                        </td>
                    </tr>
                    <tr>
                        <td class="XCLTitle">新密码：</td>
                        <td>
                            <input type="password" name="txtNewPwd" id="txtNewPwd" />
                        </td>
                    </tr>
                    <tr>
                        <td class="XCLTitle">确认新密码：</td>
                        <td>
                            <input type="password" name="txtNewPwd0" />
                        </td>
                    </tr>
                </table>
                <div class="XCLHandBar">
                    <a id="btnSavePassword" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存修改</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(function () {
            window.xclcms.UserCenter.UserInfo.Init();
            window.xclcms.UserCenter.ChangePwd.Init();
            window.xclcms.UserCenter.ChangeMerchant.Init();
        });
</script>